# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env.*
!.env.example

pnpm-lock.yaml

# 要提交项目key值
# .env

# 忽略 drizzle-kit generate 生成命令默认生成的sql迁移构建文件
server/database/migrations
